*{

margin: 0;
padding: 0;
box-sizing: border-box;
overflow: hidden;
}

body{

height: 100vh;
overflow: hidden;
display: flex;
background: url(./img/bg.png);

}

.app{

width: 100vw;
height: 100vh;
display: flex;

}

.lobby{

width: 100%;
height: 100%;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
overflow: hidden;
animation: fadelobby 1s ease-in-out;
}

#play-btn{
    transform: scale(3);
    height: 10%;
    transition: .3s ease;
}

#play-btn:active{
    transform: scale(1.8);
}

#banner-game{
    margin-bottom: 12%;
    height: 10%;
    transform: scale(3);

}

@keyframes fadelobby {
    
    from{

        transform: scale(0);
        opacity: 0;

    }

    to {

        opacity: 1;
        transform: scale(1);

    }

}